SX_CLUSTER_NAME="{{ tint.sx.cluster_name }}"
SX_NODE_SIZE="{{ tint.sx.node.size }}"
SX_NODE_IP="{{ ansible_br0.ipv4.address }}"
SX_NODE_INTERNAL_IP="{{ ansible_br1.ipv4.address }}"
SX_SERVER_USER="sx"
SX_SERVER_GROUP="bigboards"
SX_CHILDREN_NUM="32"
SX_PORT="443"
SX_USE_SSL="{{ tint.sx.ssl }}"

{% if 'lxc_workers' in group_names %}
SX_EXISTING_NODE_IP="{{ hostvars[ansible_local.hex.name + '-v1'].ansible_br0.ipv4.address }}"
{% endif %}